/*Colores }
/* CSS HEX 
--dutch-white: #dccca3ff;
--plum: #824c71ff;
--violet-jtc: #4a2545ff;
--black: #000001ff;
--cambridge-blue: #90aa86ff;
*/
* {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
}

a {
         list-style: none;
         font-family: "Raleway", sans-serif;
         color: #ff4b90;
}

h2,h3,h4,h5, .footer-dev {
         font-size: 1.3em;
         margin: 1em 0;
         color: #ff4b90;
}

header {
         padding: 10px;
         text-align: center;
}

/* Index */
.nombrePrincipal{  
         color: #ff4b90;
         font-size: 1.4em;
         font-family: "Protest Riot", sans-serif;
         font-weight: 400;
         font-style: normal;
}

/* Estilo para las imágenes dentro de los artículos */
.img-articleA {
         width: 80%;
         height: 50%;
         object-fit: cover;
}


body {
         font-family: Arial, sans-serif;
         padding: 0;
}

.navbar {
         position: fixed;
         z-index: 100;
         top: 0;
         width: 100%;
}
nav ul {
         list-style: none;
         padding: 0;
         margin: 0;
         font-weight: bold;
}

nav ul li {
         display: inline;
         margin-right: 20px;

}



/*MAIN */

main {
         position: relative;
         margin: 200px 10px;

}

.articulosPrincipales{
         text-align: center;
         margin-bottom:  80px ;
}
.articulosPrincipales p {
         font-size: 1em;
         font-family: "Raleway", sans-serif;
}


/* Colores */
:root {
         --dutch-white: #dccca3ff;
         --plum: #824c71ff;
         --violet-jtc: #4a2545ff;
         --black: #000001ff;
         --cambridge-blue: #90aa86ff;
     }
     
     /* Estilos para el footer */
     footer {
         background-color: #fdeedd;
         padding: 5px 0;
         text-align: center;
         width: 100vw;
     }
     
     .footer-container {
         display: flex;
         flex-direction: column;
         max-width: 1200px;
         margin: 0 auto;
         padding: 20px;
     }
     
     .footer-column {
         flex: 1;
         max-width: 400px;
     }
     
     .footer-column ul {
         list-style: none;
         padding: 0;
         font-size: .8em;
     }
     
     .footer-column li {
         margin-bottom: 8px;
     }
     
     
     .footer-column a:hover {
         background-color: #f7e0c6;
         color: black;
     }
     .footer-column p {
         font-size: 1em;
     }

     .footer-column .icon-png {
         width: 20px; 
         height: 20px;
         vertical-align: middle;
         margin-right: 5px;
     }
     



/* Pagina Discografia */
.discografia {
         padding: 40px;
         margin: 200px auto;
}
.ul-card-text {
         text-align: center;
         border: 2px solid rebeccapurple;
}
.card-text {
         color: #90aa86;
         font-style: italic;
}


/* Contacto */

/* Contacto */

#contacto {
         margin: 20px;
         padding: 20px;
         background-color: var(--dutch-white);
         border-radius: 10px;
     }
     
     form {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
     }
     
     label {
         margin-bottom: 2px;
         display: block;
     }
     
     input,
     textarea {
         width: 100%;
         padding: 2px;
         border: 1px solid var(--violet-jtc);
         border-radius: 5px;
         background-color: antiquewhite;
     }
     
     .radio-group {
         grid-column: span 2;
         display: flex;
         justify-content: space-between;
     }
     
     .radio-group label {
         margin: 0;
     }
     
     .button-group {
         grid-column: span 2;
         text-align: center;
     }
     
     button {
         padding: 10px 20px;
         margin: 0 10px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }
     
     button[type="submit"] {
         background-color: var(--violet-jtc);
         color: var(--dutch-white);
     }
     
     button[type="reset"] {
         background-color: var(--cambridge-blue);
         color: var(--violet-jtc);
     }
     